# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
.DS_Store*
en_US
fr_FR
de_DE
es_ES
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
